{{ form_start(form) }}
<table class="table">
        <tbody>
	 <tr>
                <th>Nom Prenom</th>
                <td>{{ form_widget(form.nom) }}</td>
            </tr>
	<tr>

                <th>Adresse Mail</th>
                <td>{{ form_widget(form.mail) }}</td>
            </tr>
	<tr>
                <th>Nombre d'UC</th>
                <td>{{ form_widget(form.nbUC) }}</td>
            </tr>
	<tr>
                <th>Département</th>
                <td>{{ form_widget(form.nomDepartement) }}</td>
            </tr>
	<tr>
                <th>Statut</th>
                <td>{{ form_widget(form.statutEnseignant) }}</td>
            </tr>


	<tr>
                <th>Archivage</th>
                <td>{{ form_widget(form.archive) }}</td>
            </tr>
	<tr>


	</tbody>
	<!--{% do form.identifiant.setRendered() %}-->
	{% do form.AccesAdmin.setRendered() %}
</table>
<button type="submit" class="btn btn-primary">Enregistrer</button> <a href="#" onclick="javascript:history.go(-1);"class="btn btn-secondary">Retour</a>
{{ form_end(form) }}
